
/*teqstis fonti*/
@font-face {
    font-family: "paragrapis fonti";
    src: url(font1.ttf);
}
/*satauris fonti*/
@font-face {
    font-family: "satauris fonti";
    src: url(font2.otf);
}
/*satauri*/
h2{
    font-family: "satauris fonti";
}
/*teqsti*/
p{
    font-family: "paragrapis fonti";
}